{% extends 'authenticate/base.html' %} {% block content %} {% load static %}

<div class="container container-login col-md-6 py-3 border mb-5">
  <div class="d-flex justify-content-center">
    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="" />
  </div>

  <h2 class="text-center m-3">Alterar a senha</h2>
  <form class="p-5" method="POST" action="{% url 'change_password' %}">
    {% csrf_token %} {% if form.errors %}

    <div class="alert alert-danger alart-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
      </button>
    {% for field in form %} 
		{% if field.errors %} 
		  {{ field.errors }} 
		{%endif%} 
	{% endfor %}
    </div>
    {% endif %} {{ form.as_p }} {# button #}
    <div class="text-center">
      <input
        type="submit"
        value="Change Password"
        class="button register mt-5"
      />
    </div>
  </form>
</div>

{% endblock %}
