{% extends 'authenticate/base.html' %}
{% block content %}
	{% load static %}
<div class="container mx-auto">
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="date">Data</label>
                <input 
                    type="date" 
                    class="form-control" 
                    id="date" 
                    name="date" 
                    required
                >
            </div>
            <div class="form-group col-md-4">
                <label for="vacine">Vacina</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="vacine" 
                    name="vacine" 
                    required
                >
            </div>
            <div class="form-group col-md-4">
                <label for="dose">Dose</label>
                <input 
                    type="number" 
                    class="form-control" 
                    id="dose" 
                    name="dose" 
                    min="1" 
                    max="3" 
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <label for="batch">Código do lote</label>
            <input 
                type="text" 
                class="form-control" 
                id="batch" 
                name="batch" 
                onkeypress='validateKeyNumbers(event)'
                required
            >
        </div>
        <div class="form-group">
            <label for="vaccinator">Código do aplicador</label>
            <input 
                type="text" 
                class="form-control" 
                id="vaccinator" 
                name="vaccinator"
                onkeypress='validateKeyNumbers(event)'
                required 
            >
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="healthcenter">Estabelecimento de saúde</label>
                <input 
                    type="text"
                    class="form-control" 
                    id="healthcenter" 
                    name="healthcenter"
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                Dados conferidos
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<script>
    function validateKeyNumbers(evt) {
        var theEvent = evt || window.event;
      
        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
          theEvent.returnValue = false;
          if(theEvent.preventDefault) theEvent.preventDefault();
        }
      }
</script>
{% endblock %}
